.Pictures{
    display: flex;
    justify-content: space-around;
}

.picture {
    width: 30%;
    height: 10%;
    padding-top: 60px;
}

.picture-two {
    width:20%;
    height: 10%;
}

.picture-three{
    width: 20%;
}